/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html,body{
  height:100%
}
body {
  margin:0;
}
mat-icon {
  font-family: 'Material Icons' !important;
}
.mat-card {
  margin: 20px;
  text-align: center;
}

