  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-evenly">
    <mat-card class="card-component">
      <mat-card-header>
        <mat-card-title>
          Temperatura
        </mat-card-title>
      </mat-card-header>
      <app-rating-meter [needleValue]="currentTemperatureConverted" [centralLabel]="labelTemperatureGauge" [options]="temperatureOptions"></app-rating-meter>
    </mat-card>
    <mat-card class="card-component">
      <mat-card-header>
        <mat-card-title>
          Wilgotność
        </mat-card-title>
      </mat-card-header>
      <app-rating-meter [needleValue]="currentHumidity"
                      [centralLabel]="labelHumidityGauge"
                      [options]="humidityOptions">
      </app-rating-meter>
    </mat-card>
    <mat-card class="card-component">
      <mat-card-header>
        <mat-card-title>
          Ciśnienie
        </mat-card-title>
      </mat-card-header>
      <app-rating-meter
                      [needleValue]="currentPressureConverted"
                      [centralLabel]="labelPressureGauge"
                      [options]="pressureOptions">
      </app-rating-meter>
    </mat-card>
    <mat-card class="card-component">
      <mat-card-header>
        <mat-card-title>
          Wysokość
        </mat-card-title>
      </mat-card-header>
      <app-rating-meter [needleValue]="currentAltitudeConverted"
                      [centralLabel]="labelAltitudeGauge"
                      [options]="altitudeOptions">
      </app-rating-meter>
    </mat-card>
  </div>
  <div class="charts-container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-evenly">
    <mat-card class="card-component-chart">
      <mat-card-header>
        <mat-card-title>
          Temperatura godzinowo
        </mat-card-title>
      </mat-card-header>
     <chart-view [lineChartLabels]="todayTemperatureLabel" [lineChartData]="todayTemperatureData"></chart-view>
    </mat-card>
<mat-card class="card-component-chart">
  <mat-card-header>
    <mat-card-title>
      Wilgotność godzinowo
    </mat-card-title>
  </mat-card-header>
  <chart-view [lineChartLabels]="todayTemperatureLabel" [lineChartData]="todayHumidityData"></chart-view>
</mat-card>
 </div>

